body {
    background-color: black;

}

.contadorPositivo div {
    margin-top: 15px;
    font-size: 20px;
    display: inline-block;
    color: white;
    border: none;
    background-color: rgb(10, 36, 58);
    padding-bottom: 10px;

}

.tituloPositivo {
    color: rgb(12, 194, 40);
    font-family: "Pacifico", cursive;
    margin-top: 35px;
    margin-left: 130px;
    display: block;
    width: 100ch;
    white-space: nowrap;

    animation: typing 10s steps(100),
        blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.wrapperPositivo {
    font-family: "Pacifico", cursive;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: aliceblue;
    text-shadow: 1px 1px 5px rgb(43, 7, 247);
}

.cuentaAdelante {
    border: solid 3px;
    text-align: center;
}

.tituloNegativo {
    color: rgb(12, 194, 40);
    font-family: "Pacifico", cursive;
    margin-top: 35px;
    margin-left: 110px;;
    display: block;
    width: 100ch;
    white-space: nowrap;

    animation: typing 14s steps(100),
        blink .5s infinite step-end alternate;
    overflow: hidden;
}

.wrapperNegativo {
    font-family: "Pacifico", cursive;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: aliceblue;
    text-shadow: 1px 5px 5px red;
}

.contadorNegativo div {
    margin-top: 15px;
    font-size: 20px;
    display: inline-block;
    color: white;
    border: none;
    background-color: rgb(10, 36, 58);
    padding-bottom: 10px;
}

.cuentaAtras {
    border: solid 3px;
    text-align: center;
}
.BotonAlerta{
    background-color:white;
    font-family: "Pacifico", cursive;
    font-size: 20px;
    margin: auto;
    color:rgb(10, 36, 58);
    box-shadow: 1px 1px 1px 1px red;
    border:none;
    display: flex;
    margin-top:20px;    
}
.btn{
    background-color:rgb(10, 36, 58);
    display: flex;   
    width: 225px;
    margin: auto;
    margin-top: 20px;
    font-family: "Pacifico", cursive;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px 5px yellow;
    
}
.cajaMatrix{
    border:3px double red;
    width: 500px;
    height: 200px;
    position: fixed;    
    color: white;
    background-color: black;
    left: 29%;
    top:30%;
    font-family: "Pacifico", cursive;
    white-space: nowrap;

    animation: typing 10s steps(100),
        blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.matrix{
    z-index: -1;
}
.gameover{
    font-family: "Anton", sans-serif;
    font-style: oblique;
   color: red;
   text-decoration: underline;
   
}
.swal-modal{
    height: 300px !important;
    background-color: rgb(232, 158, 247);
}